.register{
  position: absolute;
  width: 100%;
  top: 13cm;
  left: 55%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
}
.register form {  
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: #8ee5ff
}

.register form .form_control {
  background: none;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  width: 100%;
  display: block;
  margin: 20px 0;
  padding-bottom: 5px;
  font-weight: bolder;  
}

.register form .btn_primary {
  background: #214a80;
  border: none;
  border-radius: 5px;
  padding: 12px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  text-transform: uppercase;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.register form .btn_primary:hover,
.register form .btn_primary:active {
  background: #000000;
  outline: none;
}

.register form .new_account {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #000000;
  opacity: 0.9;
  text-decoration: none;
  font-weight: bolder;
}
.register form .new_account:hover,
.register form .new_account:active {
  opacity: 1;
  text-decoration: none;
}

.register form .btn_primary:active {
  transform: translateY(1px);
}

.sr_only {
  text-align: center;
  color: #000000;
  opacity: 0.9;
  text-decoration: none;
  font-weight: bolder;
  font-size:x-large;
}

.password_requirement {
  border: 2px solid #000000;
  display: block;
  color: #000000;
  padding: 10px;
}

.password_requirement b {
  text-align: center;
  display: block;
}