.footer{
    padding:1rem 0;
    text-align: center;
    background-color: rgb(240, 250, 250);
}
.footer_message{
    font-weight: bold;
    font-size:0.9rem;
    color:#121720;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer_contact{
    font-weight: bold;
    font-size:0.9rem;
    color:#121720;
    margin:0.6rem;
}
.footer_copyright{
    font-weight: bold;
    font-size:0.9rem;
    color:#121720;
    margin:0.6rem;
}