.main_style{
  position: absolute;
  width: 75%;
  height: 100vh;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.main_title {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}